body {
  min-width: 200px;
  text-align: center;

  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
}

#configure-button {
  border: none;
  background-color: inherit;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}
